World Spy is a tool created by Tycho10101, with <a href="https://github.com/Tycho10101/PythonWalker" target="_blank">PythonWalker</a>, his bot library, and <a href="https://github.com/pallets/flask/" target="_blank">flask</a>. The use of the program is to get more information that you would need to join the world to recive, like what players are on a world, without joining a world.
<br>
<br>
Credits:<br>
<br>
HTML: Tycho10101<br>
CSS: PixelWalker Devs<br>
JS: Tycho10101<br>
Python: Tycho10101<br>
<br>
Thanks to the folks on the Discord with great resources!
